<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ninja Color</title>
</head>
<body>
    {% load staticfiles %}
    {% if ninja_color == "blue" %}
        <img src="{% static 'ninja_app/images/leonardo.jpg' %}" alt="leo">
    {% elif ninja_color == "red" %}
        <img src="{% static 'ninja_app/images/raphael.jpg' %}" alt="raph">
    {% elif ninja_color == "purple" %}
        <img src="{% static 'ninja_app/images/donatello.jpg' %}" alt="don">
    {% elif ninja_color == "orange" %}   
        <img src="{% static 'ninja_app/images/michelangelo.jpg' %}" alt="mich">
     {% else %}
        <img src="{% static 'ninja_app/images/notapril.jpg' %}" alt="notapril">  
    {% endif %}
</body>
</html>