<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    Employees:<br>
    Click on an employee to check their information
    <ul>
        {% for employee in employees %}
        <a href="{% url 'user' id=employee.id %}"/><li>{{employee.first_name}} {{employee.last_name}}</li></a>
        {% endfor %}
    </ul>
</body>
</html>