<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Submitted Info</title>
</head>
<body>
    <h2>Submitted Info</h2>
    <p>Name: {{session['name']}}</p>
    <p>Location: {{session['location']}}</p>
    <p>Language: {{session['language']}}</p>
    <p>Comment: {{session['comment']}}</p><br>
    <input type="submit", value='Go Back'>
</body>
</html>