<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Friends</title>
</head>
<body>
    <h1>I'm gonna put friends here</h1>
    <form action='/friends', method="POST">
    <table>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Friend Since</th>
            <th></th>
        </tr>
    {% for friend in all_friends: %}
        {{friend}}<br>
        <tr>
            <td name='name'>{{friend['name']}}
            <td name='age'>{{friend['age']}}
            <td>{{friend['friend_since']}}
            <td>{{friend['year']}}
        </tr>
    {% endfor %}
    </table>
        Name: <input type="text" name ='name'><br><br>
        Age: <input type="text" name = 'age'><br><br>
        <input type="submit" value='Submit'>
    </form>
</body>
</html>