<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="wrapper">
        <div id="navigationbar">
            {% csrf_token %}
            <a href="/books">Home</a>
            
            {% csrf_token %}
            <a href="/logout">Logout</a>
        </div>
        <div id=book>
            <h3>Add a New Book Title and a Review:</h3>{{user.alias}}

        {% if messages %}
        <div id="message_area">
            {% for message in messages %}
            {{ message }}
            {% endfor %}
        </div>
        {% endif %}

            <form action="/add_process", method="POST">
            {% csrf_token %}
            <label for="">Book Title:</label>
            <input type="text" name="book_title"><br><br>
            <label for="">Author:</label><br><br>
                    Choose from the list: 
                <select name="author">
                    <option selected="selected" disabled>Select from existing authors</option>
                    {% for author in authors %}
                        <option value="{{author.id}}">{{author.name}}</option>
                    {% endfor %}
                </select><br><br>
                <label for="">Or add a new author:</label>
                <input type="text" name="new_author"><br><br>
            <label for="">Review:</label><br><br>
            <textarea name="review" id="" cols="50" rows="5"></textarea><br><br>
            <label for="">Rating:</label>
                <select name="rating">
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
                <br>
                <br>
            <input id="submit_button" type="submit" value="Submit Review">
            </form>
        </div>

    </div>
</body>
</html>