<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div id="wrapper">
        <div id="navigationbar">
            Welcome, {{user.alias}}
            <form id="add_book" action="/books/add" method="post">
            {% csrf_token %}
            <a href="/books/add">Add Book and Review</a>
            
            {% csrf_token %}
            <a href="/logout">Logout</a><br><br>
        </div>
        <div id="recent_reviews">
            Recent Reviews:<br><br>
            {% for review in reviews %}
            {{review.book.title}}<br> 
            Rating: {{review.rating}} stars<br>
            <a href="{%url 'user' id=user.id %}">{{user.name}}</a> says: {{review.review}}<br><br> 
            {% endfor %}
        </div>
        <div id="other_books">
            Other books with Reviews:
            <select name="other_books">
                {% for book in books %}
                    <option value="{{book.id}}">{{book.title}}</option>
                {% endfor %}
            </select>
    </div>
</body>
</html>