<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
</head>
<body>
    <div id="wrapper">
    <h2>Welcome!</h2>
<h3>Register:</h3>
        {% if messages %}
        <div id="message_area">
            {% for message in messages %}
            {{ message }}
            {% endfor %}
        </div>
        {% endif %}

        <form class="register_form" action="/register_process" method="post">
            {% csrf_token %}
            <label for="name">Name:</label>
            <input type="text" name="name">
            <br>
            <br>
            <label for="alias">alias:</label>
            <input type="text" name="alias">
            <br>
            <br>
            <label for="email">Email:</label>
            <input type="text" name="email">
            <br>
            <br>
            <label for="password">Password:</label>
            <input type="password" name="password"><br>
            *Password should be at least 8 characters
            <br>
            <br>
            <label for="confirm_password">Confirm Password:</label>
            <input type="password" name="confirm_password">
            <br>
            <br>
            <input id="submit_button" type="submit" value="Register">
            <br>
            <br>
        </form>


        <h3>Login:</h3>
        <form class="login_form" action="/login_process" method="post">
            {% csrf_token %}
            <label for="email">Email:</label>
            <input type="text" name="email">
            <br>
            <br>
            <label for="password">Password:</label>
            <input type="password" name="password">
            <br>
            <br>
            <input id="submit_button" type="submit" value="Login">
        </form>
    </div>
    </div>


</body>
</html>