<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Users</title>
</head>
<body>
    {% csrf_token %}
    <a href="/books">Home</a>

    {% csrf_token %}
    <a href="/books/add">Add Book and Review</a>
            
    {% csrf_token %}
    <a href="/logout">Logout</a><br><br>
    User Alias:
    {{user.alias}}<br>
    Name: {{user.name}}<br>
    Email: {{user.email}}<br>
    Total Reviews:{{all_reviews_length}}<br><br>

    Recent Reviews:<br>
    {% for r in reviews %}
    <a href="{%url 'book' id=r.book.id %}">{{r.book.title}}</a><br>
    {% endfor %}
</body>
</html>