<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Wall Home</title>
</head>
<body>
    <h1>Welcome to the Wall</h1>
    <p>Please log in:<p>
        <form action="/the_wall", method="POST">
        Email:<input type="text" name="email" value=""><br><br>
        Password:<input type="password" name="password" value=""><br><br>
        <input type="submit" name="login" value="Login"><br><br>
        </form>
        <p>Register New User</p>
        <form action="/register">
        <input type="submit" name="register" value="Register">
    </form>
</body>
</html>