<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register</title>
</head>
<body>
    <h2>Thank you for Registering with us!</h2>
    <form action="/the_wall", method='POST'>
    First Name:<input type="text" name="first_name" value=""><br><br>
    Last Name:<input type="text" name="last_name" value=""><br><br>
    Email:<input type="text" name="email" value=""><br><br>
    Password:<input type="password" name="password" value=""><br><br>
    Confirm Password:<input type="confirm_password" name="confirm_password" value=""><br><br>
    <input type="submit" name="login" value="Register">    
    </form>
</body>
</html>