<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Wall</title>
</head>
<body>
    <div id="wrapper">
        <div id="navbar">
            <h3>Coding Dojo Wall</h3>
            <p>Welcome {{session["first_name"]}}<p>
            <a href="/log_off">log off</a>
        </div>
        </div id='post'>
            <form action="/message_process", method='POST'>
            <textarea name = "message_post" rows="4" cols="100"></textarea><br>
            <input type="submit" name="post", value='Post Message'>
        </form>
        </div>
        <div id='message_board'>
        </div>
    </div>
    </div>
</body>
</html>