#wrapper {
    width: 1000px;
    background-color: #f6f6f6
}

#header {
    background-color: #f6f6f6;
}

h1 {
    text-align: left;
}
h2 {
    text-align: right;
}

#maincontent {
    width: 970px;
    background-color: #624d57;
    padding: 15px;
}

#top {
    width: 1000px;
    height: 305px;
    margin-bottom: 15 px;
}

#jaynedoedoe {
    width: 450px;
    height: 300px;
}

#about {
    background-color: #ede5ec;
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
    width: 500px;
    height: 300px;
}

#about h3{
    color: white;
    background-color: #94939d;
    margin-top: 0px;
    padding-bottom: 20px;
}

#leftcontent {
    width: 300px;
    height: 400px;
    background-color: #f0eaef;
}

#middlecontent {
    display: inline-block;
    width: 300px;
    height: 400px;
    background-color: #f0eaef;
}

#rightcontent {
    display: inline-block;
    width: 300px;
    height: 400px;
    background-color: #f0eaef;
}

.bottomimages {
    width: 300px;
    height: 100px;
}

#leftlinks {
    width: 300px;
    height: 250px;
    background-color: #f0eaef;
}

#middlelinks {
    width: 300px;
    height: 250px;
    background-color: #f0eaef;
}

#rightlinks {
    width: 300px;
    height: 250px;
    background-color: #f0eaef;
}

.techheader {
    color: white;
    background-color: #94939d;
    margin-top: 0px;
    padding-bottom: 20px;
}

.bottomheaders {
    color: white;
    background-color: #94939d;
    margin-top: 0px;
}
.technologies {
    width: 50px;
    height: 50px;
    background-color: #f0eaef;
}