<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ninja {{color}}</title>
</head>
<body>
    {% if color == "blue" %}
        <img src="{{ url_for('static', filename='leonardo.jpg')}}" alt="leonardo">
    {% elif color == "red" %}
        <img src="{{ url_for('static', filename='raphael.jpg')}}" alt="raphael">
    {% elif color == "purple" %}
        <img src="{{ url_for('static', filename='donatello.jpg')}}" alt="donatello"> 
    {% elif color == "orange" %}
        <img src="{{ url_for('static', filename='michelangelo.jpg')}}" alt="michelangelo">
    {% else %}
        <img src="{{ url_for('static', filename='notapril.jpg')}}" alt="not april">
    {% endif %}
</body>
</html>