<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Users</title>
</head>
<body>
    <div id="wrapper">
      {% if user %}
        <h1>Welcome, {{user.first_name}}</h1>

          {% if messages %}
            <div id="message_area">
              {% for message in messages %}
            {{ message }}
              {% endfor %}
            </div>
          {% endif %}
    {% endif %}

        <h4>User Info:</h4>
        <hr>
        <table cellspacing=0 border=1>
          <thead>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email Address</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{user.first_name}}</td>
              <td>{{user.last_name}}</td>
              <td>{{user.email}}</td>
            </tr>
          </tbody>
        </table>
        <br>
        <br>
        
        <form id="logout" action="/logout" method="post">
          {% csrf_token %}
          <input type="submit" value="LOGOUT">
        </form>
    </div>    
</body>
</html>