<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Form</title>
</head>
<body>
    <form action="/form_process" method="POST">
        {% csrf_token %}
        <label for="">Your Name:</label>
        <input type="text" name="name"><br><br>
        <label for="">Dojo Location:</label>
        <select name="location">
            <option value="Mountain_View">Mountain View</option>
            <option value="City">City</option>
        </select><br><br>
        <label for="">Favorite Language:</label>
        <select name="language">
            <option value="javascript">Javascript</option>
            <option value="ruby">Ruby</option>
            <option value="python">Python</option>
        </select><br><br>
        <label for="">Comment (optional):</label><br><br>
        <textarea name="comment" id="comment" cols="30" rows="10"></textarea><br><br>
        <input type="submit" value="Submit">

    </form>
</body>
</html>