<div>
    <form action="/message" method="post">
		<p>Name: <input type="text" name="name">
		<p>Message: <textarea name="message"></textarea>
		<input id="post" type="submit" value="Post message">
	</form>
    
	<% if(typeof(errors) != 'undefined' ) { %>
		<% for (var x in errors) { %>
	      	<h3><%= errors[x].message %></h3>
		<% } %>
	<% } %> 
	
	<% for(var i=0; i<messages.length; i++) { %>
		<h3> Name: <%= messages[i].name %> </h3>
		<h3> Message: <%= messages[i].message %> %> </h3>

		<% for(var j=0; j<messages[i].comments.length; j++) { %>
			<h5> Name: <%= messages[i].comments[j].name %> </h5>
			<h5> Comment: <%= messages[i].comments[j].text %> </h5>
		<% } %>
		
		<form action = "/comment/<%= messages[i]._id %>" method="post">
			<p class="margin">Name: </p><input class="comment_input" type="text" name="name">
			<p class="margin">Comment: </p><textarea class="comment_text"name="comment"></textarea>
			<input class="post2" type="submit" value="Post comment">
		</form>
	<% } %>
</div>