#new_message {
    background-color:lightgreen;
    border: 1px solid black;
    padding:5px;
    margin:5px;
}

#posts {
    background-color: lightblue;
    border: 1px solid black;
    padding:5px;
    margin:5px;
}

.post {
    background-color: lightcyan;
    border: 1px dotted black;
    padding:5px;
    margin:5px;
}

.new_comment {
    background-color: lightsalmon;
    border: 1px dotted black;
    padding:5px;
    margin:5px;
}

.comment {
    background-color: lightpink;
    border: 1px dotted black;
    padding:5px;
    margin:5px;
}