<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ninjas</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet.css')}}">
    <script type='text/javascript' src="{{ url_for('static', filename='ninjas.js')}}"></script>    
</head>
<body>
    <p>Ninjas are stealthy, which is why you don't see them often</p>
</body>
</html>