<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Dojo Survey Result</title>
        <link rel="stylesheet" type="text/css" href="~/css/style.css">
    </head>
    <body>
        <div class="box-div">
            <h3 class="underline">Submitted Info</h3>
            <div class="inline-div">
                <p>Name:</p>
                <p>Dojo Location:</p>
                <p>Favorite Language:</p>
                <p>Comment:</p>
            </div>
            <div class="inline-div">
                <p>@ViewBag.Name</p>
                <p>@ViewBag.Location</p>
                <p>@ViewBag.Language</p>
                <p>@ViewBag.Comment</p>
            </div>
        </div>
    </body>
</html>